<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Hi, my name is {{character.name}}</mat-card-title>
    <mat-card-subtitle>My species is {{character.species}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>My spaceship is {{character.spaceships}}</mat-card-subtitle>
    <p>
     Here can be some info about my skills and spaceships
    </p>
    <p>
      Also about all my films
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>In future this can be operation "LIKE"</button>
    <button mat-button>Or "DISLIKE"</button>
  </mat-card-actions>
</mat-card>
