.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://c7.hotpng.com/preview/740/346/527/yoda-telegram-sticker-emoji-star-wars-emoji.jpg');
  background-size: cover;
}
